             <footer>
         
         <div class="footerFrog">
         
             <h2>Blog</h2>
             <h2 id="faqs">FAQs</h2>
             <img src="images/Footer_frog.png" />
            
         </div>
         
         
        <div class="container foot">
         
            
            
            <div class="row">
            <div class="col-lg-4 col-sm-12">
                
                <h4><a href="#">Why us</a></h4>
                <p><a href="#">What we do</a></p>
                <p><a href="#">Testimonials</a></p>
                <p><a href="#">Our Team</a></p>
                
            </div>
                     <div class="col-lg-4 col-sm-12">
                
                    
                         <h4><a href="Pricing#section3">How it works</a></h4>
                         <p><a href="#">Taking a tour</a></p>
                         <p><a href="Pricing">Pricing</a></p>
                         <p><a href="FAQs">FAQs</a></p>
                
                
            </div>
            
            <div class="col-lg-4 col-sm-12">
                
                <h4><a href="#">T & C</a></h4>
                <p><a href="#">Privacy</a></p>
                <p><a href="#">Policies</a></p>
                
                
            </div>
            
            </div>
            
                     <div class="row">
            <div class="col-lg-4 col-sm-12">
                
                <h4><a href="#">Careers</a></h4>
               
                 
                
            </div>
                     <div class="col-lg-4 col-sm-12">
                
                         <h4><a href="#">Media</a></h4>
                
                
                
            </div>
                     <div class="col-lg-4 col-sm-12">
                
                         <h4><a href="#">Contact Us</a></h4>   
                
            </div>
                          <div class="col-lg-12 socialIcons">
            
                <img src="images/social/fb.png" alt="SocialIcons">
                <img src="images/social/twitter.png" alt="SocialIcons">
                <img src="images/social/linkdin.png" alt="SocialIcons">
                <img src="images/social/gp.png" alt="SocialIcons">
<!--                 <img src="images/social/msg.png" alt="SocialIcons">-->
            </div>
                         
            <div class="col-lg-12 newsletter">
            
                <p>Subscribe to our newsletter</p>
            </div>
            
            </div>
            
           
            
        </div>
    
    </footer>  