<!--The fixed header of the page    -->
    <header>
        
        <nav class="navbar navbar-default mod-nav" data-spy="affix" >
            <div class="container-fluid">
                <div class="navbar-header logo">
                   
                    <a href="/" class="tooltips">
                        <img class="img-responsive" id="investory" src="images/investoryLogo.png" alt="" />
                    <img class="img-responsive logo-icon" src="images/logoIcon.png" alt="" />
                    <img class="img-responsive logo-icon-blue" src="images/logoIconBlue.png" alt="" />
                        <span>
       
       Our name is inspired by two words- invest and story.<br />
                        
        Here we help you write your financial story with honest investment  advice.<br />
        Our brand mascot is "Tory" the frog.
        <br />
        <br />
       <em>Why a frog?</em> <read>Read more</read>
    </span>
                    </a>
                </div>
                
                
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="KnowUs">Know us</a></li>
                        <li><a  href="Pricing">Pricing</a></li>
                        <li><a  href="GoalSelection">Get Started</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right login-btn">
                             <button type="" class="btn btn-lg moodNav login" data-toggle="modal" data-target="#loginModal" > Login</button> 
                        
                        <div class="row avatar">
                            <div class="col-sm-8"><p class="name">Preety Shankar</p>
                            <p class="role">Investory Contributor</p>
                            </div>
                            
                            <div class="col-sm-4"><img src="images/avatar.png" alt="Person" width="96" height="96"></div>
                            
                        </div>                        
                    </ul>
                      
            </div>
        </nav>
        
    </header>

    <!-- Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-sm">
          <!-- Modal content-->
      <div class="modal-content">
                
            <div class="modal-body">
         
                <form class="form-horizontal">
                           <h2>Login</h2>
						   
							<input type="email" class="form-control" id="email" placeholder="Email">
							<input type="password" class="form-control" id="pwd" placeholder="Password">
                            <button id="login" type="" class="btn btn-lg login "  > Login </button> 
                            <button type="" class="btn btn-lg sign-up" data-toggle="modal" data-target="#signUp" data-dismiss="modal">Sign Up</button>
                            <a href="#" class="forgot" >Forgot Password?</a>
                            <button type="" class="btn btn-lg facebook">Login with Facebook</button>
                            <button type="" class="btn btn-lg google">Login with Google+</button>
                                
                            
                 </form>    
            </div>
                
      </div>
    </div>
  </div>

      <!-- Modal -->
  <div class="modal fade" id="signUp" role="dialog">
    <div class="modal-dialog modal-sm">
          <!-- Modal content-->
      <div class="modal-content">
                
            <div class="modal-body">
         
                <form class="form-horizontal">
                           <h2>Sign Up</h2>
						   <hr>
                       <input type="number" class="form-control" id="num" placeholder="Mobile Number">
						   
							<input type="email" class="form-control" id="email" placeholder="Email">
                          <input type="text" class="form-control" id="name" placeholder="Name">
							<input type="password" class="form-control" id="pwd" placeholder="Password">
                            <button type="" class="btn btn-lg login" data-dismiss="modal"> Submit </button> 
                          
              
                            <button type="" class="btn btn-lg facebook">Sign through Facebook</button>
                            <button type="" class="btn btn-lg google">Sign through Google+</button>
                             <p><em>By clicking Sign Up you agree to the <a href="#">terms and conditions</a></em></p>   
                            
                 </form>    
            </div>
                
      </div>
    </div>
  </div>

  