           <div id="settings" class="text-center">
    
               
               
      <h3 style="    position: relative;
    left: -19.5%;
    top: 0.5em;">Settings</h3>
           <div class="settingsForm">   
      <form class="form-horizontal">
                          
          <div class="col-sm-6">
              
            <div class="form-group">
                               
                <label class="control-label  col-sm-3" for="pwd">Password:
                </label>
               
                <div class="col-md-3">
                
                    <input type="password" class="form-controler" value="abcdefg" > 
            
                </div>
                                   
                <br>
                              
            </div>       
                                    
            
            <div class="form-group">
                
                              
                <label class="control-label  col-sm-3" for="text" >Risk Profile:</label>
                        
                <div class="col-md-3">
                                            
                    <input type="text" style="color: #35BFD3;" class="form-controler" placeholder="" value="Changed on 10/10/2017">
                                              
                    <h6><i>This can be changed once in a year</i></h6>
                                       
                </div>
                                    
                <br>                          
                              
              </div>        
                                    
              
             <div class="form-group">
                                  
                 <div class="dropdown">
                             
                     <label class="control-label  col-sm-3" for="text">Music:</label>
                                       
                     <div class="col-md-3">
                                          
                         <button class="btn btn-primary dropdown-toggle form-controler" id="music" type="button" data-toggle="dropdown">On
                                            
                             <span class="caretNext caret "></span></button>
                                               
                         <ul class="dropdown-menu"  role="menu" aria-labelledby="music">
               <li role="presentation"><a role="menuitem" tabindex="1" id="on" href="#">On</a></li>           
                           <li role="presentation"><a role="menuitem" tabindex="1" id="off" href="#">Off</a></li>  
                                               
                         </ul>                                            
                                       
                     </div>
                                    
                     <br>
                                                            
                 </div>        
                              
              </div>            
                     
          </div>
                      
                   
          <div class="col-sm-6">
                     
            
              <div class="form-group">
                       
                              
                  <label class="control-label  col-sm-4" for="text">Pricing Package:</label>
                                       
                  <div class="col-md-2">
                                            
                      <input type="text" class="form-controler" placeholder="" value="INR 99 Per Month">
                                              
                                        
                  </div>
                                   
                  <br>
                                  
                               
              </div>
                         
                       
                         
              <br>
                         
              <br>
                         
              <br>
                      
                                            
                            
                                               
                         <ul class="dropdown-menu"  role="menu" aria-labelledby="music">
               <li role="presentation"><a role="menuitem" tabindex="1" id="on" href="#">On</a></li>           
                           <li role="presentation"><a role="menuitem" tabindex="1" id="off" href="#">Off</a></li>  
                                               
                         </ul>                 
                          
              <div class="form-group">
                                   
                  <div class="dropdown">
                             
                      <label class="control-label  col-sm-4" for="text">Notifications:</label>
                                        
                      <div class="col-md-2">
                                          
                         
                       <button class="btn btn-primary dropdown-toggle form-controler" id="notify" type="button" data-toggle="dropdown">Off
                              <span class="caretNext caret "></span></button>
                                               
                         <ul class="dropdown-menu"  role="menu" aria-labelledby="notify">
               <li role="presentation"><a role="menuitem" tabindex="1" id="on" href="#">On</a></li>           
                           <li role="presentation"><a role="menuitem" tabindex="1" id="off" href="#">Off</a></li>  
                                               
                         </ul>                         
                                        
                      </div>
                                   
                      <br>
                                  
                              
                  </div>        
                              
              </div>        
                                    
                                    
                              
          </div>            
                                    
                                    
                                    
             </form>                       
                    
          </div>
                
                   
               
    </div>