               
    <div id="invoices" class="text-center">
        
                <div class="page31" style="    margin-top: 4em;">
                                 
                       <div class="table-responsive"style="width: 78.2%;" >
                        <table class="table table1"  style="  "  >
    <thead >
      <tr >
          
          <th  style="    width: 8em;" >Dates</th>  
        <th  style="    width: 10.3em;">Invoices</th>
        <th  style="text-align: center;
    width: 5em;">Allocation  %</th>
        <th  style="width: 7.8em;
    text-align: center;">Amount (&#x20B9;)</th>
      </tr>
                            </thead>    </table>         
    
   <table class="table table2" style=" " >
       <tbody class="scrollbar"  id="ex3"    >
                          
      <tr  >
          
          <td>20 September 2016</td>
        <td >Fund Yesno Bank</td>
        <td >50%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>13 March 2017</td>
        <td>Bank fund Trade centre</td>
        <td>40%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>09 JAnuary 2017</td>
       <td>Debit fund</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
         <tr  >
          
          <td>20 September 2016</td>
        <td>Equity - Large-cap Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>13 March 2017</td>
        <td>Balanced - Oriented Funds</td>
        <td>40%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>09 JAnuary 2017</td>
       <td>Debt - Short-term Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
          <tr>
          <td>09 JAnuary 2017</td>
       <td>Debt - Short-term Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
          <tr>
          <td>09 JAnuary 2017</td>
       <td>Debt - Short-term Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
          <tr>
          <td>09 JAnuary 2017</td>
       <td>Debt - Short-term Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
       </tbody>
       
  </table>
             
     <table class="table table3"  style=" "  >                
    <tbody >
        <td class="aba">
      <button type="" class="btn btn-lg moodNav login"  > Print</button>  
            <button type="" class="btn btn-lg moodNav login"  > Mail</button>  
            <button type="" class="btn btn-lg moodNav login"  > Save</button>  
             
        </td>
       </tbody>
                            </table>                    
  
                       </div>                 
                                 
          </div>
    
    </div>