 <% include yourStoryData %> 


<% if(path == "profileData"){ %>
 	<%  include profileData %>
 <% } if(path == "myStoryData"){ %>
 	 <% include myStoryData %>
 <%  } else{  %>
 	  <% include profileData %>
<% } %>

</div>
</div>

<!--Custom Js links -->
        
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
     
    <script src="javascripts/control.js" type="text/javascript"></script>
</body>
</html>
